<footer role="contentinfo">

	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-12 footer-head">
				A free, <a
					href="https://github.com/glome-space"
					target="_blank">open source</a> project from the folks at <a
					href="http://glome.space" target="_blank">Glome</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<i class="fa fa-github" aria-hidden="true"></i> <a
					href="https://github.com/glome-space">Hosted on GitHub</a>
			</div>
		</div>
</footer>